Package: sdlhmi
Version: 6.1.0
Provides: sdlhmi
Maintainer: Luxoft <github.com/LuxoftSDL/sdl_hmi/>
Architecture: all
Section: devel
Description: HIM emulator for sdl_core
 extended description over several lines
Depends: python,chromium-browser|chromium
Recommends: chromium-browser
Suggests: chromium-browser
Origin: https://github.com/smartdevicelink/sdl_hmi
